Add a Pet for others to Play with!
<%= simple_form_for @pet, url: {action: "create"} do |f| %>
  <%= f.input :name %>
  <%= f.input :characteristic %>
  <h>* Pet type</h> <%= f.select :animal_type, ['Dog', 'Cat', 'Hamster', 'Rabbit', 'Gerbil', 'Raccoon', 'Llamas', 'Other']%>
  <div>* Date <%= f.date_field :start_date %></div>
  <div>* Time <%= f.time_field :start_time %></div>
  <%= f.input :duration %>
  <%= f.input :address %>
<%= hidden_field_tag(:curr_user, @user_id) %>
  <%= f.button :submit %>
<% end %>