<!DOCTYPE html>
<html>
<head>
  <h1> Pets! </h1>
  <p><%= link_to 'Return to Home Page', root_path %> </p>


<%= simple_form_for @pet, url: {action: "show"} do |f| %>
  <%= f.label :animal_type, "Type of animal" %> 
  <%= f.select :animal_type, ['Dog', 'Cat', 'Hamster', 'Rabbit', 'Gerbil', 'Raccoon', 'Llamas', 'Other']%>   
  <%= f.label :start_date, "Starting date" %> 
  <%= f.select :start_time, ['11/26', '11/27', '11/28', '11/29', '11/30', '12/01', '12/02', '12/03']%>  
  <%= f.label :start_time, "Starting time" %> 
  <%= f.select :start_time, ['1:00PM', '2:00PM', '3:00PM', '4:00PM', '5:00PM', '6:00PM', '7:00PM', '8:00PM']%>     
  <%= f.button :submit, "Filter" %>
<% end %>

<!-- <div>
<%= select_tag(:sorttype, options_for_select(["animal_type"])) %>
<%= select_tag(:sortstarttime, options_for_select(["Order By Asc","Order By Desc"])) %>
<%= submit_tag"Sort Books", class:"btn btn-info"  %>
</div> -->


<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>

  <tr>
  	<th>
		Pet Name 
	</th>
	<th>
		Type
	</th> 
	<th>
		Description
	</th>
	
	<th>
		Request a Pet
	</th>


  </tr>

<% if @pets != nil %> 
  <%@pets.each do |pet| %>
    <tr>
      <%= render pet %>
    </tr>
  <% end %>
<% end %>

<% if @pets == nil %> 
  <%@pets.each do |pet| %>
    <tr>
      <%= render pet %>
    </tr>
  <% end %>
<% end %>

</table>

</body>
</html>