<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PetHugs (Search)</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-modal.css" rel="stylesheet">
    <link href="css/bootstrap-modal-bs3patch.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">PetHugs</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to 'Your Profile', curr_user_path() %>
                    </li>
                    <li>
                        <%= link_to 'Search for Pets', search_pets_path() %>
                    </li>
                    <li>
                        <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :class => "btn btn-link", :method => :delete) %>        
            <% else %>
                <%= link_to('Login', new_user_session_path, :class => "btn btn-link")  %>  
            <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Find a hug!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                    <h4>
          <%= simple_form_for @pet, url: {action: "show"} do |f| %>
  <%= f.label :animal_type, "Type of animal" %> 
  <%= f.select :animal_type, ['Dog', 'Cat', 'Hamster', 'Rabbit', 'Gerbil', 'Raccoon', 'Llamas', 'Other']%>   
  <%= f.label :start_date, "Starting date" %> 
  <%= f.select :start_time, ['11/26', '11/27', '11/28', '11/29', '11/30', '12/01', '12/02', '12/03']%>  
  <%= f.label :start_time, "Starting time" %> 
  <%= f.select :start_time, ['1:00PM', '2:00PM', '3:00PM', '4:00PM', '5:00PM', '6:00PM', '7:00PM', '8:00PM']%>     
  <%= f.button :submit, "Filter" %>
<% end %>

            </h4>
            <br>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
          <% if @pets != nil %> 
            <%@pets.each do |p| %>
              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://placehold.it/800x500" alt="">
                      <div class="caption">
                          <h3><%=p.name%></h3>
                          <p> <%=p.animal_type%><br> </p>
                          <p> <b>Characteristic: </b><%=p.characteristic%><br> </p>
                          <p> <b>Location:</b> <%=p.address%></p>
                          <p> <b>Start date:</b> <%=p.start_date%></p>
                          <!-- <p> START TIME!!!!!!! </p> -->
                          <p> <b>Availability:</b> <%=p.duration%> hours</p>
                              <%= button_to "Request this pet!", new_request_path(pet_id: p.id, user_id: @user_id), :class => "btn btn-primary", :method => :patch %> 
                          </p>
                      </div>
                  </div>
              </div>
            <% end %>
          <% end %>

        </div>
        <!-- /.row -->

        <hr>


        

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-modalmanager.js"></script>

</body>

</html>

