<!DOCTYPE html>
<html>
<head>
  <h1> Pets! </h1>
  <p><%= link_to 'Return to Home Page', root_path %> </p>


<%= simple_form_for @pet, url: {action: "show"} do |f| %>
  <%= f.label :animal_type, "Type of Animal" %> 
  <%= f.select :animal_type, ['Cat', 'Dog', 'Hamster', 'Rabbit', 'Gerbil', 'Raccoon', 'Llamas', 'Other'], :include_blank => true%>   
  <%= f.label :start_date, "Starting Date" %>
  <%= f.date_select :start_date, {:include_blank => true, :default => nil}%> 
  <%= f.button :submit, "Filter" %>
<% end %>


<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>

  <tr>
    <th>
    Pet Name 
  </th>
  <th>
    Type
  </th> 
  <th>
    Description
  </th>
  
  <th>
    Request a Pet
  </th>


  </tr>
<% if @pets != nil %> 
  <%@pets.each do |pet| %>
    <tr>
      <%= render pet %>
    </tr>
  <% end %>
<% end %>

<% if @pets == nil %> 
<% end %>

</table>

</body>
</html>