

<!DOCTYPE html>
<html>
<head>

<h3>Your Profile</h3>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h3>My Requests:</h3>
<table>

  <tr>
  	<th>
		Pet Name
	</th>
	<th>
		Address
	</th> 
	<th>
		Start Time and Duration
	</th>

  <th>
    Status
  </th>


  </tr>

<%@user.requests.each do |request| %>
  <tr>
  	<th>
		<%=request.pet.name%>
	</th>
  	<th>
		<%=request.pet.address%>
	</th>  	
  
  <th>
    <%=request.pet.start_time%>, available for <%=request.pet.duration%> hours
  </th>

  <th>
    <% if request.status%>
      approved!
    <%else%>
      pending approval
    <%end%>
  </th>

  </tr>
<% end %>

</table>

<br></br>
<h3>My Pets:</h3>
<table>

  <tr>
  	<th>
		Pet Name 
	</th>
	<th>
		Type
	</th> 
	<th>
		Address
	</th>

	<th>
		Start Time/Duration
	</th>

  <th>
    Requests
  </th>
	
	<th>
		Delete Pet Post
	</th>


  </tr>

<%@user.pets.each do |p| %>
  <tr>
  	<th>
  		<%=p.name%>
  	</th>
  	
  	<th>
  		<%= p.animal_type%>
  	</th>

  	<th>
  		<%=p.address%>
  	</th>

  	<th>
  		<%=p.start_time%>, available for <%=p.duration%> hours
  	</th>

    <th>
      <% if p.requests == nil%> 
        <b>No requests at this time</b>

      <%else%>
        <%p.requests.each do |request|%>
              Request from <%=request.user.email%>
              <%= button_to "Accept", accept_request_path(request_id: request.id), :class => "button medium", :method => :post %> 
              <%= button_to "Decline", decline_request_path(request_id: request.id), :class => "button medium", :method => :post %> 
              <br></br>

        <%end%>
      
      <% end %>


    </th>

  	<th>
  		<%= button_to "Delete Post", delete_pet_path(pet_id: p.id, user_id: @user.id), :class => "button medium", :method => :post %> 
  	</th>


  </tr>
<% end %>

</table>


<p><%= link_to 'Add a pet', new_pet_path(:curr_user=>@user.id) %> </p>
</body>
</html>