<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PetHugs (Profile)</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">PetHugs</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to 'Your Profile', curr_user_path() %>
                    </li>
                    <li>
                        <%= link_to 'Search for Pets', search_pets_path() %>
                    </li>
                    <li>
                        <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :class => "btn btn-link", :method => :delete) %>        
            <% else %>
                <%= link_to('Login', new_user_session_path, :class => "btn btn-link")  %>  
            <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
<<<<<<< HEAD
            <h1>Welcome back, <%=@curr_user.email%></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
=======
            <h1>Welcome Back, <%=@curr_user.email%></h1>
            <p>Check below for the status on requests you've made, and check if anyone has requested to play with your pets.</p>
>>>>>>> 6ad643b8d050d6a77a53ba2018df9d0ea8518ecb
            <p>
            <%= link_to "Add a pet", new_pet_path(:curr_user=>@user.id), { :class=>"btn btn-primary btn-large" } %>

            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>My Requests</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

          <%@user.requests.each do |request| %>
              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://placehold.it/800x500" alt="">
                      <div class="caption">
                          <h3><%=request.pet.name%></h3>
                          <p> <b>Location:</b> <%=request.pet.address%></p>
                          <p> <%=request.pet.start_time%> 
                              <b>Availability:</b> <%=request.pet.duration%> hours</p>
                          <p><b>Approval Status:</b>    <% if request.status == 1%>
                                    Approved!
                                  <%elsif request.status == -1%>
                                    Pending...
                                  <%else %>
                                    Declined
                                  <%end%>
                          </p>
                              <%= link_to "Cancel Request?", delete_request_path(pet_id: request.pet.id, user_id: current_user.id), :method => :post, :class=>"btn btn-primary btn-large" %>
                              <a href="#" class="btn btn-default">More Info</a>
                          </p>
                      </div>
                  </div>
              </div>
            <% end %>

        </div>
        <!-- /.row -->

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>My Pets</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <%@user.pets.each do |p| %>
              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://placehold.it/800x500" alt="">
                      <div class="caption">
                          <h3><%=p.name%></h3>
                          <p> <!-- <%=p.animal_type%><br> --> </p>
                          <p> <b>Location:</b> <%=p.address%></p>
                          <p> <b>Start date:</b> <%=p.start_date%></p>
                          <p> <b>Start time:</b> <%=p.start_time.strftime("%H:%M")%> </p>
                          <p> <b>Availability:</b> <%=p.duration%> hours</p>
                          <p> <%= button_to "Delete Pet", delete_pet_path(pet_id: p.id, user_id: @user.id), :class => "btn btn-danger", :method => :post %> </p>
                          <p>    
                            <% if p.requests == -1%> 
                              <%p.requests.each do |request|%>
                                <b>Request from:</b> <%=request.user.email%>
                                 
                                <%= button_to "Accept", accept_request_path(request_id: request.id), :class => "btn btn-primary btn-large", :method => :post %> <%= button_to "Decline", decline_request_path(request_id: request.id), :class => "btn btn-default", :method => :post %> 
                              <% end %>
                            <%end%>

                          </p>
                          </p>
                      </div>
                  </div>
                          <%= link_to "Add a pet", new_pet_path(:curr_user=>@user.id), { :class=>"btn btn-primary btn-large" } %>
              </div>
             <% end %>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>

